@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  height: 100dvh;
}

html,
body,
#root {
  height: 100dvh;
}

#root {
  padding: 0 56px;
}
